pug/careers.pug
extends templates/page.pug

block content
	section#careers-intro
		.container-fluid.height-v
			.row.height-v
				.col-lg-2.col-md-12.height-v
					h6.section-title Careers
				.col-lg-10.col-md-12.height-v
					h1.careers-title Be a change you want to see in the world
					.career-options
						.row
							.col-md-4.level-holder.level-holder-one
								.level-one.multi-level-menu
									ul
										li.active
											a(href="#" data-menu="#menu-1") Development
										li
											a(href="#" data-menu="#menu-2") Design
										li
											a(href="#" data-menu="#menu-3") Management
										li
											a(href="#" data-menu="#menu-4") Digital Advertising
										li
											a(href="#" data-menu="#menu-5") Project Management
							.col-md-4.level-holder.level-holder-two
								.level-two.multi-level-menu
									a(href="#").level-menu-back
										i.icon.arrow_left
									ul#menu-1.active
										li
											a(href="#").career-scroll Lead Developer
										li
											a(href="#").career-scroll Senior Software Developer
										li
											a(href="#").career-scroll Software Engineer
										li
											a(href="#").career-scroll iOS
										li
											a(href="#").career-scroll Project Management
										li
											a(href="#").career-scroll iOS Development Intern
									ul#menu-2
										li
											a(href="#").career-scroll Lead Designer
										li
											a(href="#").career-scroll Senior Designer
									ul#menu-3
										li
											a(href="#").career-scroll Lead Developer
										li
											a(href="#").career-scroll Senior Software Developer
										li
											a(href="#").career-scroll Software Engineer
										li
											a(href="#").career-scroll iOS
										li
											a(href="#").career-scroll Project Management
										li
											a(href="#").career-scroll iOS Development Intern
									ul#menu-4
										li
											a(href="#").career-scroll Lead Developer
										li
											a(href="#").career-scroll Senior Software Developer
										li
											a(href="#").career-scroll Software Engineer
										li
											a(href="#").career-scroll iOS
										li
											a(href="#").career-scroll Project Management
										li
											a(href="#").career-scroll iOS Development Intern
									ul#menu-5
										li
											a(href="#").career-scroll Lead Developer
										li
											a(href="#").career-scroll Senior Software Developer
										li
											a(href="#").career-scroll Software Engineer
										li
											a(href="#").career-scroll iOS
										li
											a(href="#").career-scroll Project Management
										li
											a(href="#").career-scroll iOS Development Intern
							.col-md-4.level-holder.level-holder-three
								.level-two.multi-level-menu
									a.btn.btn-accent-white.btn-icon.btn-icon-right.career-scroll(href="#")
										span You're a student?
										i.icon.arrow_carrot-right
	section#careers.navigation-invert
		.container-fluid
			.row
				.col-lg-2
					h6.section-title Position
				.col-lg-7
					h1.heading Software Engineer
					h5.subheading Novi Sad, Serbia
					p.large.offset-top.text-justify Our Software Engineers are both generalists and problem solvers who love playing with new languages and frameworks. They’re talented and passionate technologists who are interested in learning new things every day. We currently have teams working with Java, C#, Python, Ruby, PHP, Objective-C and/or JavaScript, and our products and clients are as diverse as the tools we are using. It doesn’t matter if you are savvy in Scala or Go, or proficient in Java, we’re equally excited to work with you.
					p.text-justify Software engineers work in a very collaborative environment where cross-functional teams work closely together in order to get things done. They work to maintain an ego-free environment where talent matters more than title, and know the big idea can come from anyone and anywhere. Having an entrepreneurial spirit is as important as being a team member, and our Engineers are never afraid to wear multiple hats.
					p.text-justify We love to iterate and make things better over time. Having decent processes in place and knowing how to deliver software is important. Lean principles, test driven development and continuous integration matter to us. We are looking for someone who gets equally excited about those things and knows about agile best practices.
					p.text-justify You will be able to work in a variety of client settings and platforms and collaborate in a smart environment where you can bring in your ideas. There is plenty of room to grow at Codemind.
			.row.offset-top
				.col-lg-2
					h6.section-title Requirements
				.col-lg-7
					h1.heading What we'd like to see
					h6.subheading Every additional skill is highly respected.
					ul.checklist
						li 2+ years professional programming experience, including the development of backend software for websites.
						li Experience developing, writing and delivering elegant and clean code in Java, C#, Python, Ruby, Scala or any other language.
						li A familiarity with agile methodologies, such as Lean, Extreme Programming (XP) and/or Scrum. We’re a team-oriented and collaborative environment that practices collective code ownership and pair programming.
						li Ability to work in a variety of client settings and across platforms.
						li Excellent problem solving skills, a love for technical challenges, and a willingness to learn.
						li Experience with databases and HTML, CSS, JavaScript.
	section#work-with-us
		.container-fluid
			.row
				h1.work-with-us-title Why you should work with us?
				.col-md-4.info
					.row
						.col-md-3.number
							span 1
						.col-md-9.text
							h4.title Dynamic work environment
							p.description With various projects and playful atmosphere you’ll never have a dull moment.
				.col-md-4.info
					.row
						.col-md-3.number
							span 2
						.col-md-9.text
							h4.title Absolutely no B teams.
							p.description Every person in our team is important equally. We appreciate team work and keep good relationships.
				.col-md-4.info
					.row
						.col-md-3.number
							span 3
						.col-md-9.text
							h4.title Professional Development
							p.description Development is important to all of us, and we love to help each other in pursuit of happiness.
	form.contact-form
		.container-fluid
			.row
				.col-lg-6.contact-section-holder.v-height-eq
					section#contact
						.inner
							h6.section-title Apply Now
							.form-group
								input.form-control(type="text" placeholder="Name" value="Srdjan")
							.form-group.form-group-error
								input.form-control(type="text" placeholder="Email Address" value="srdjan@codemind")
								span.error-message Invalid email address. Try again.
							.form-group
								input.form-control(type="text" placeholder="Phone")
							.form-group
								input.form-control(type="text" placeholder="LinkedIn Profile")
							.form-group
								input.form-control(type="text" placeholder="Website")
							.row
								.col-md-10
									p.terms-and-conditions By pressing 
										b Submit application 
										| you accept our 
										a(href="#") Privacy and policy 
										|. Also, all files submitted using this planer are protected by 
										a(href="#") NDA 
										| which you accept from this moment by submitting this form.
				.col-lg-6.upload-section-holder.v-height-eq
					section#upload
						.inner
							h2.heading CV Upload
							h6.subheading Upload your CV or any other profession related document
							.upload-box
								h4.heading Drag & drop your files here
								h6.subheading max file size: 20MB
							ul.uploaded-files
								li
									span.file-name Srdjan_CV
									span.file-extension .pdf
								li
									span.file-name List_of_awards
									span.file-extension .pdf
				button.col-md-12.submit-button(type="submit") Submit application

dist/careers.html

<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="fonts/proxima-fonts.css"/>
  <link rel="stylesheet" href="css/lib.css"/>
  <link rel="stylesheet" href="css/main.css"/>
  <body class="page" style="opacity:0">
    <section id="careers-intro">
      <div class="container-fluid height-v">
        <div class="row height-v">
          <div class="col-lg-2 col-md-12 height-v">
            <h6 class="section-title">Careers</h6>
          </div>
          <div class="col-lg-10 col-md-12 height-v">
            <h1 class="careers-title">Be a change you want to see in the world</h1>
            <div class="career-options">
              <div class="row">
                <div class="col-md-4 level-holder level-holder-one">
                  <div class="level-one multi-level-menu">
                    <ul>
                      <li class="active"><a href="#" data-menu="#menu-1">Development</a></li>
                      <li><a href="#" data-menu="#menu-2">Design</a></li>
                      <li><a href="#" data-menu="#menu-3">Management</a></li>
                      <li><a href="#" data-menu="#menu-4">Digital Advertising</a></li>
                      <li><a href="#" data-menu="#menu-5">Project Management</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-4 level-holder level-holder-two">
                  <div class="level-two multi-level-menu"><a class="level-menu-back" href="#"><i class="icon arrow_left"></i></a>
                    <ul class="active" id="menu-1">
                      <li><a class="career-scroll" href="#">Lead Developer</a></li>
                      <li><a class="career-scroll" href="#">Senior Software Developer</a></li>
                      <li><a class="career-scroll" href="#">Software Engineer</a></li>
                      <li><a class="career-scroll" href="#">iOS</a></li>
                      <li><a class="career-scroll" href="#">Project Management</a></li>
                      <li><a class="career-scroll" href="#">iOS Development Intern</a></li>
                    </ul>
                    <ul id="menu-2">
                      <li><a class="career-scroll" href="#">Lead Designer</a></li>
                      <li><a class="career-scroll" href="#">Senior Designer</a></li>
                    </ul>
                    <ul id="menu-3">
                      <li><a class="career-scroll" href="#">Lead Developer</a></li>
                      <li><a class="career-scroll" href="#">Senior Software Developer</a></li>
                      <li><a class="career-scroll" href="#">Software Engineer</a></li>
                      <li><a class="career-scroll" href="#">iOS</a></li>
                      <li><a class="career-scroll" href="#">Project Management</a></li>
                      <li><a class="career-scroll" href="#">iOS Development Intern</a></li>
                    </ul>
                    <ul id="menu-4">
                      <li><a class="career-scroll" href="#">Lead Developer</a></li>
                      <li><a class="career-scroll" href="#">Senior Software Developer</a></li>
                      <li><a class="career-scroll" href="#">Software Engineer</a></li>
                      <li><a class="career-scroll" href="#">iOS</a></li>
                      <li><a class="career-scroll" href="#">Project Management</a></li>
                      <li><a class="career-scroll" href="#">iOS Development Intern</a></li>
                    </ul>
                    <ul id="menu-5">
                      <li><a class="career-scroll" href="#">Lead Developer</a></li>
                      <li><a class="career-scroll" href="#">Senior Software Developer</a></li>
                      <li><a class="career-scroll" href="#">Software Engineer</a></li>
                      <li><a class="career-scroll" href="#">iOS</a></li>
                      <li><a class="career-scroll" href="#">Project Management</a></li>
                      <li><a class="career-scroll" href="#">iOS Development Intern</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-4 level-holder level-holder-three">
                  <div class="level-two multi-level-menu"><a class="btn btn-accent-white btn-icon btn-icon-right career-scroll" href="#"><span>You're a student?</span><i class="icon arrow_carrot-right"></i></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="navigation-invert" id="careers">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-2">
            <h6 class="section-title">Position</h6>
          </div>
          <div class="col-lg-7">
            <h1 class="heading">Software Engineer</h1>
            <h5 class="subheading">Novi Sad, Serbia</h5>
            <p class="large offset-top text-justify">Our Software Engineers are both generalists and problem solvers who love playing with new languages and frameworks. They’re talented and passionate technologists who are interested in learning new things every day. We currently have teams working with Java, C#, Python, Ruby, PHP, Objective-C and/or JavaScript, and our products and clients are as diverse as the tools we are using. It doesn’t matter if you are savvy in Scala or Go, or proficient in Java, we’re equally excited to work with you.</p>
            <p class="text-justify">Software engineers work in a very collaborative environment where cross-functional teams work closely together in order to get things done. They work to maintain an ego-free environment where talent matters more than title, and know the big idea can come from anyone and anywhere. Having an entrepreneurial spirit is as important as being a team member, and our Engineers are never afraid to wear multiple hats.</p>
            <p class="text-justify">We love to iterate and make things better over time. Having decent processes in place and knowing how to deliver software is important. Lean principles, test driven development and continuous integration matter to us. We are looking for someone who gets equally excited about those things and knows about agile best practices.</p>
            <p class="text-justify">You will be able to work in a variety of client settings and platforms and collaborate in a smart environment where you can bring in your ideas. There is plenty of room to grow at Codemind.</p>
          </div>
        </div>
        <div class="row offset-top">
          <div class="col-lg-2">
            <h6 class="section-title">Requirements</h6>
          </div>
          <div class="col-lg-7">
            <h1 class="heading">What we'd like to see</h1>
            <h6 class="subheading">Every additional skill is highly respected.</h6>
            <ul class="checklist">
              <li>2+ years professional programming experience, including the development of backend software for websites.</li>
              <li>Experience developing, writing and delivering elegant and clean code in Java, C#, Python, Ruby, Scala or any other language.</li>
              <li>A familiarity with agile methodologies, such as Lean, Extreme Programming (XP) and/or Scrum. We’re a team-oriented and collaborative environment that practices collective code ownership and pair programming.</li>
              <li>Ability to work in a variety of client settings and across platforms.</li>
              <li>Excellent problem solving skills, a love for technical challenges, and a willingness to learn.</li>
              <li>Experience with databases and HTML, CSS, JavaScript.</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="work-with-us">
      <div class="container-fluid">
        <div class="row">
          <h1 class="work-with-us-title">Why you should work with us?</h1>
          <div class="col-md-4 info">
            <div class="row">
              <div class="col-md-3 number"><span>1</span></div>
              <div class="col-md-9 text">
                <h4 class="title">Dynamic work environment</h4>
                <p class="description">With various projects and playful atmosphere you’ll never have a dull moment.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 info">
            <div class="row">
              <div class="col-md-3 number"><span>2</span></div>
              <div class="col-md-9 text">
                <h4 class="title">Absolutely no B teams.</h4>
                <p class="description">Every person in our team is important equally. We appreciate team work and keep good relationships.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 info">
            <div class="row">
              <div class="col-md-3 number"><span>3</span></div>
              <div class="col-md-9 text">
                <h4 class="title">Professional Development</h4>
                <p class="description">Development is important to all of us, and we love to help each other in pursuit of happiness.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <form class="contact-form">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 contact-section-holder v-height-eq">
            <section id="contact">
              <div class="inner">
                <h6 class="section-title">Apply Now</h6>
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Name" value="Srdjan"/>
                </div>
                <div class="form-group form-group-error">
                  <input class="form-control" type="text" placeholder="Email Address" value="srdjan@codemind"/><span class="error-message">Invalid email address. Try again.</span>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Phone"/>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="LinkedIn Profile"/>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Website"/>
                </div>
                <div class="row">
                  <div class="col-md-10">
                    <p class="terms-and-conditions">By pressing <b>Submit application </b>you accept our <a href="#">Privacy and policy </a>. Also, all files submitted using this planer are protected by <a href="#">NDA </a>which you accept from this moment by submitting this form.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div class="col-lg-6 upload-section-holder v-height-eq">
            <section id="upload">
              <div class="inner">
                <h2 class="heading">CV Upload</h2>
                <h6 class="subheading">Upload your CV or any other profession related document</h6>
                <div class="upload-box">
                  <h4 class="heading">Drag & drop your files here</h4>
                  <h6 class="subheading">max file size: 20MB</h6>
                </div>
                <ul class="uploaded-files">
                  <li><span class="file-name">Srdjan_CV</span><span class="file-extension">.pdf</span></li>
                  <li><span class="file-name">List_of_awards</span><span class="file-extension">.pdf</span></li>
                </ul>
              </div>
            </section>
          </div>
          <button class="col-md-12 submit-button" type="submit">Submit application</button>
        </div>
      </div>
    </form>
    <nav class="navigation sticky">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-6"><a class="nav-logo animated" href="#">
              <object class="logo-symbol" data="img/logo_symbol.svg" type="image/svg+xml"></object></a></div>
          <div class="col-xs-6 text-right"><a class="menu-toggle animated" href="#"><span></span><span></span><span></span></a></div>
        </div>
      </div>
    </nav>
    <div class="menu-overlay">
      <div class="nav-top nav-lang">
        <ul>
          <li class="active"><a href="#">English</a></li>
          <li><a href="#">Deutsch</a></li>
        </ul>
      </div>
      <div class="nav-center nav-site">
        <ul>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Studio</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Showcase</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Planner</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div>
      <div class="nav-bottom nav-social">
        <ul>
          <li><a href="#"> <i class="fa fa-linkedin"></i><span class="text">LinkedIn</span></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i><span class="text">Facebook</span></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i><span class="text">Instagram</span></a></li>
        </ul>
      </div>
    </div>
    <script src="js/lib.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
