pug/index.pug
extends templates/home.pug

block content
		nav.navigation.fixed-top
			.container-fluid
				.row
					.col-xs-6
						a(href="#").nav-logo.animated
							img(src="img/logo_typography.svg" alt="").logo-typography
					.col-xs-6.text-right
						a.menu-toggle(href="#").animated
							span
							span
							span
		.intro(onselectstart="return false;")
			canvas#canvas-pulse(width="1000" height="500")
			object(type="image/svg+xml",data="img/brain.svg")#brain-svg
			.title
				h1.heading.animated Mindfulness at its best.
				h6.subheading.animated Software studio based in the hearth of 
					b Serbia
			.scroll-alert
				a(href="#").animated
					i.icon.scroll-icon.animated.infinite
			.project-overlay
				.container-fluid
					.row
						.col-md-3
							.title-holder
								h6.heading Latest Project
								.subtitle-holder
									h3.project-title Cupris Health
									a(href="#").project-view-more View More 
						.col-md-3
							p.project-description.toAnimate The focus is on delivering standards-based web applications utilizing the latest industry trends. 
								a.case-study-link(href="#") Case Study
						.col-md-3
							img.project-img.project-img-1(src="img/featured_project1.jpg" alt="")
						.col-md-3
							img.project-img.project-img-2(src="img/featured_project2.jpg" alt="")
		section#post-intro.post-intro
			.container-fluid
				.row
					.col-lg-1.col-lg-offset-1
						h6.section-title Studio
					.col-lg-5.col-sm-8
						h1 We're a team of thinkers, makers, explorers, creators and superheroes
							span.accent-splash .
						p Taking on thought-provoking projects that challenge us creatively and make us go the extra mile is what we consider a way of life. We are relentless in moving boundaries and carry out this spirited attitude into digital solutions. Digital solutions that engage, inspire and make you think. 
							b Make you curious.
						a.btn.btn-accent.btn-icon.btn-icon-right(href="#")
							span About Studio
							i.icon.arrow_carrot-right
		section#services
			.container-fluid
				.row
					.col-lg-10.col-lg-offset-1.col-md-12
						.services-description
							.col-md-10
								h6.section-title Services
								h3.section-description We build products that make people better at their most important work - the kind of work you read about on the front page of the newspaper, not just the technology section.
						.services
							a(href="#").col-md-4.service
								h1.service-title Development
								p.service-description The focus is on delivering standards-based web applications utilizing the latest industry trends. 
								img(src="img/services/1.png" alt="").service-img.dev
								object(type="image/svg+xml",data="img/services/arrow.svg").service-icon
							a(href="#").col-md-4.service
								h1.service-title Design
								p.service-description Look and feel of your digital product, together with the user experience will make or break your product's success.
								img(src="img/services/2.png" alt="").service-img.des
								object(type="image/svg+xml",data="img/services/arrow.svg").service-icon
							a(href="#").col-md-4.service
								h1.service-title Consulting
								p.service-description The first impression is the lasting one. That is why we take the design of your brand seriously and with great care.
								img(src="img/services/3.png" alt="").service-img.cons
								object(type="image/svg+xml",data="img/services/arrow.svg").service-icon
		section#selected-work
			.container-fluid
				.row
					.col-md-10.col-md-offset-1.top.text-center-collapse
						.col-md-12
							h6.section-title Selected Work
						.col-lg-8
							h1 You'll look better with us.
						.col-lg-4.text-right
							a.btn.btn-accent.btn-icon.btn-icon-right(href="#")
								span Showcase
								i.icon.arrow_carrot-right
					.col-md-10.col-md-offset-1
						.project-grid
							.col-md-6.project-item.col-sm-12.col-xs-12
								img.project-img(src="img/projects/1.png" alt="")
								.project-overlay
									.content
										ul.categories
											li
												a(href="#") Website
											li
												a(href="#") Mobile App
										a(href="#")
											h1.project-title Heap Investment
							.col-md-6.project-item.col-sm-12.col-xs-12
								img.project-img(src="img/projects/2.png" alt="")
								.project-overlay
									.content
										ul.categories
											li
												a(href="#") Ios App
											li
												a(href="#") Android App
										a(href="#")
											h1.project-title GoPro Discovery
							.col-md-3.project-item.col-sm-6.col-xs-12
								img.project-img(src="img/projects/3.png" alt="")
								.project-overlay.alt-type
									.content
										ul.categories
											li
												a(href="#") Website
										a(href="#")
											h1.project-title Bosch Enterprise
									a(href="#").arrow
										span
										span
										span
							.col-md-3.project-item.col-sm-6.col-xs-12
								img.project-img(src="img/projects/4.png" alt="")
								.project-overlay.alt-type
									.content
										ul.categories
											li
												a(href="#") Website
										a(href="#")
											h1.project-title Bosch Enterprise
									a(href="#").arrow
										span
										span
										span
		section#clients
			.container-fluid
				.row
					.col-md-10.col-md-offset-1.top
						.col-md-6
							h6.section-title We've created for
							h1 Strong Brands
						.col-md-6.text-left
							p After years of evolution in the digital space, we've produced cutting-edge creative for start ups and Fortune 500 companies spanning tech, e-commerce, hospitality, healthcare, and beyond.
					.col-md-10.col-md-offset-1
						.clients-slider
							a(href="#").client
								img(src="img/clients/1.png" alt="")
							a(href="#").client
								img(src="img/clients/2.png" alt="")
							a(href="#").client
								img(src="img/clients/3.png" alt="")
							a(href="#").client
								img(src="img/clients/4.png" alt="")
							a(href="#").client
								img(src="img/clients/5.png" alt="")
							a(href="#").client
								img(src="img/clients/6.png" alt="")
					.col-md-12.testimonials-holder
						.col-md-10.col-md-offset-1
							.col-md-6
								input(type="text" class="dial" value="30")
								h6.section-title Testimonial
							.col-md-6.text-right
								p.slider-counter
									span.slider-current 5
									span.divider /
									span.slider-length 12
						.testimonials-slider
							.testimonial
								.col-md-10.col-md-offset-1
									.col-md-9
										h2.quote “Because of your skill, work and excellence so many doors have opened to us and we are poised to expand in some really huge ways.”
										h5.quote-author Mike Stalone,
											span.role CTO at Google
							.testimonial
								.col-md-10.col-md-offset-1
									.col-md-9
										h2.quote “Because of your skill, work and excellence so many doors have opened to us and we are poised to expand in some really huge ways.”
										h5.quote-author Mike Stalone,
											span.role CTO at Google
							.testimonial
								.col-md-10.col-md-offset-1
									.col-md-9
										h2.quote “Because of your skill, work and excellence so many doors have opened to us and we are poised to expand in some really huge ways.”
										h5.quote-author Mike Stalone,
											span.role CTO at Google
							.testimonial
								.col-md-10.col-md-offset-1
									.col-md-9
										h2.quote “Because of your skill, work and excellence so many doors have opened to us and we are poised to expand in some really huge ways.”
										h5.quote-author Mike Stalone,
											span.role CTO at Google
							.testimonial
								.col-md-10.col-md-offset-1
									.col-md-9
										h2.quote “Because of your skill, work and excellence so many doors have opened to us and we are poised to expand in some really huge ways.”
										h5.quote-author Mike Stalone,
											span.role CTO at Google
							.testimonial
								.col-md-10.col-md-offset-1
									.col-md-9
										h2.quote “Because of your skill, work and excellence so many doors have opened to us and we are poised to expand in some really huge ways.”
										h5.quote-author Mike Stalone,
											span.role CTO at Googl
		section#pre-footer
			.container-fluid
				.row
					.col-md-12
						h1.pre-footer-title Ready to collaborate with us?
						a.btn.btn-accent.btn-icon.btn-icon-right(href="#")
							span Let's Plan Your Project
							i.icon.arrow_carrot-right
						img(src="img/Planner_CTA.png" alt="").planner-img
		footer
			.container-fluid
				.row
					.col-md-10.col-md-offset-1
						.col-md-5
							.footer-menu
								ul
									li
										a(href="#") Home
									li
										a(href="#") Studio
									li
										a(href="#") Process
									li
										a(href="#") Showcase
									li
										a(href="#") Contact
									li
										a(href="#") Planner
									li
										a(href="#") Careers
						.col-md-2.text-center
							img(src="img/footer_logo.svg" alt="").footer-logo
						.col-md-5.text-right
							.footer-social
								ul
									li.copyright &copy; 2016 Codemind
									li
										a(href="#")
											i.fa.fa-linkedin
									li
										a(href="#")
											i.fa.fa-facebook
									li
										a(href="#")
											i.fa.fa-instagram

dist/index.html

<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="fonts/proxima-fonts.css"/>
  <link rel="stylesheet" href="css/lib.css"/>
  <link rel="stylesheet" href="css/main.css"/>
  <body class="home" style="opacity:0">
    <nav class="navigation fixed-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-6"><a class="nav-logo animated" href="#"><img class="logo-typography" src="img/logo_typography.svg" alt=""/></a></div>
          <div class="col-xs-6 text-right"><a class="menu-toggle animated" href="#"><span></span><span></span><span></span></a></div>
        </div>
      </div>
    </nav>
    <div class="intro" onselectstart="return false;">
      <canvas id="canvas-pulse" width="1000" height="500"></canvas>
      <object type="image/svg+xml" data="img/brain.svg" id="brain-svg"></object>
      <div class="title">
        <h1 class="heading animated">Mindfulness at its best.</h1>
        <h6 class="subheading animated">Software studio based in the hearth of <b>Serbia</b></h6>
      </div>
      <div class="scroll-alert"><a class="animated" href="#"><i class="icon scroll-icon animated infinite"></i></a></div>
      <div class="project-overlay">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <div class="title-holder">
                <h6 class="heading">Latest Project</h6>
                <div class="subtitle-holder">
                  <h3 class="project-title">Cupris Health</h3><a class="project-view-more" href="#">View More </a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <p class="project-description toAnimate">The focus is on delivering standards-based web applications utilizing the latest industry trends. <a class="case-study-link" href="#">Case Study</a></p>
            </div>
            <div class="col-md-3"><img class="project-img project-img-1" src="img/featured_project1.jpg" alt=""/></div>
            <div class="col-md-3"><img class="project-img project-img-2" src="img/featured_project2.jpg" alt=""/></div>
          </div>
        </div>
      </div>
    </div>
    <section class="post-intro" id="post-intro">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-1 col-lg-offset-1">
            <h6 class="section-title">Studio</h6>
          </div>
          <div class="col-lg-5 col-sm-8">
            <h1>We're a team of thinkers, makers, explorers, creators and superheroes<span class="accent-splash">.</span></h1>
            <p>Taking on thought-provoking projects that challenge us creatively and make us go the extra mile is what we consider a way of life. We are relentless in moving boundaries and carry out this spirited attitude into digital solutions. Digital solutions that engage, inspire and make you think. <b>Make you curious.</b></p><a class="btn btn-accent btn-icon btn-icon-right" href="#"><span>About Studio</span><i class="icon arrow_carrot-right"></i></a>
          </div>
        </div>
      </div>
    </section>
    <section id="services">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1 col-md-12">
            <div class="services-description">
              <div class="col-md-10">
                <h6 class="section-title">Services</h6>
                <h3 class="section-description">We build products that make people better at their most important work - the kind of work you read about on the front page of the newspaper, not just the technology section.</h3>
              </div>
            </div>
            <div class="services"><a class="col-md-4 service" href="#">
                <h1 class="service-title">Development</h1>
                <p class="service-description">The focus is on delivering standards-based web applications utilizing the latest industry trends. </p><img class="service-img dev" src="img/services/1.png" alt=""/>
                <object class="service-icon" type="image/svg+xml" data="img/services/arrow.svg"></object></a><a class="col-md-4 service" href="#">
                <h1 class="service-title">Design</h1>
                <p class="service-description">Look and feel of your digital product, together with the user experience will make or break your product's success.</p><img class="service-img des" src="img/services/2.png" alt=""/>
                <object class="service-icon" type="image/svg+xml" data="img/services/arrow.svg"></object></a><a class="col-md-4 service" href="#">
                <h1 class="service-title">Consulting</h1>
                <p class="service-description">The first impression is the lasting one. That is why we take the design of your brand seriously and with great care.</p><img class="service-img cons" src="img/services/3.png" alt=""/>
                <object class="service-icon" type="image/svg+xml" data="img/services/arrow.svg"></object></a></div>
          </div>
        </div>
      </div>
    </section>
    <section id="selected-work">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 top text-center-collapse">
            <div class="col-md-12">
              <h6 class="section-title">Selected Work</h6>
            </div>
            <div class="col-lg-8">
              <h1>You'll look better with us.</h1>
            </div>
            <div class="col-lg-4 text-right"><a class="btn btn-accent btn-icon btn-icon-right" href="#"><span>Showcase</span><i class="icon arrow_carrot-right"></i></a></div>
          </div>
          <div class="col-md-10 col-md-offset-1">
            <div class="project-grid">
              <div class="col-md-6 project-item col-sm-12 col-xs-12"><img class="project-img" src="img/projects/1.png" alt=""/>
                <div class="project-overlay">
                  <div class="content">
                    <ul class="categories">
                      <li><a href="#">Website</a></li>
                      <li><a href="#">Mobile App</a></li>
                    </ul><a href="#">
                      <h1 class="project-title">Heap Investment</h1></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 project-item col-sm-12 col-xs-12"><img class="project-img" src="img/projects/2.png" alt=""/>
                <div class="project-overlay">
                  <div class="content">
                    <ul class="categories">
                      <li><a href="#">Ios App</a></li>
                      <li><a href="#">Android App</a></li>
                    </ul><a href="#">
                      <h1 class="project-title">GoPro Discovery</h1></a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 project-item col-sm-6 col-xs-12"><img class="project-img" src="img/projects/3.png" alt=""/>
                <div class="project-overlay alt-type">
                  <div class="content">
                    <ul class="categories">
                      <li><a href="#">Website</a></li>
                    </ul><a href="#">
                      <h1 class="project-title">Bosch Enterprise</h1></a>
                  </div><a class="arrow" href="#"><span></span><span></span><span></span></a>
                </div>
              </div>
              <div class="col-md-3 project-item col-sm-6 col-xs-12"><img class="project-img" src="img/projects/4.png" alt=""/>
                <div class="project-overlay alt-type">
                  <div class="content">
                    <ul class="categories">
                      <li><a href="#">Website</a></li>
                    </ul><a href="#">
                      <h1 class="project-title">Bosch Enterprise</h1></a>
                  </div><a class="arrow" href="#"><span></span><span></span><span></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="clients">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 top">
            <div class="col-md-6">
              <h6 class="section-title">We've created for</h6>
              <h1>Strong Brands</h1>
            </div>
            <div class="col-md-6 text-left">
              <p>After years of evolution in the digital space, we've produced cutting-edge creative for start ups and Fortune 500 companies spanning tech, e-commerce, hospitality, healthcare, and beyond.</p>
            </div>
          </div>
          <div class="col-md-10 col-md-offset-1">
            <div class="clients-slider"><a class="client" href="#"><img src="img/clients/1.png" alt=""/></a><a class="client" href="#"><img src="img/clients/2.png" alt=""/></a><a class="client" href="#"><img src="img/clients/3.png" alt=""/></a><a class="client" href="#"><img src="img/clients/4.png" alt=""/></a><a class="client" href="#"><img src="img/clients/5.png" alt=""/></a><a class="client" href="#"><img src="img/clients/6.png" alt=""/></a></div>
          </div>
          <div class="col-md-12 testimonials-holder">
            <div class="col-md-10 col-md-offset-1">
              <div class="col-md-6">
                <input class="dial" type="text" value="30"/>
                <h6 class="section-title">Testimonial</h6>
              </div>
              <div class="col-md-6 text-right">
                <p class="slider-counter"><span class="slider-current">5</span><span class="divider">/</span><span class="slider-length">12</span></p>
              </div>
            </div>
            <div class="testimonials-slider">
              <div class="testimonial">
                <div class="col-md-10 col-md-offset-1">
                  <div class="col-md-9">
                    <h2 class="quote">“Because of your skill, work and excellence so many doors have opened to us and we are poised to expand in some really huge ways.”</h2>
                    <h5 class="quote-author">Mike Stalone,<span class="role">CTO at Google</span></h5>
                  </div>
                </div>
              </div>
              <div class="testimonial">
                <div class="col-md-10 col-md-offset-1">
                  <div class="col-md-9">
                    <h2 class="quote">“Because of your skill, work and excellence so many doors have opened to us and we are poised to expand in some really huge ways.”</h2>
                    <h5 class="quote-author">Mike Stalone,<span class="role">CTO at Google</span></h5>
                  </div>
                </div>
              </div>
              <div class="testimonial">
                <div class="col-md-10 col-md-offset-1">
                  <div class="col-md-9">
                    <h2 class="quote">“Because of your skill, work and excellence so many doors have opened to us and we are poised to expand in some really huge ways.”</h2>
                    <h5 class="quote-author">Mike Stalone,<span class="role">CTO at Google</span></h5>
                  </div>
                </div>
              </div>
              <div class="testimonial">
                <div class="col-md-10 col-md-offset-1">
                  <div class="col-md-9">
                    <h2 class="quote">“Because of your skill, work and excellence so many doors have opened to us and we are poised to expand in some really huge ways.”</h2>
                    <h5 class="quote-author">Mike Stalone,<span class="role">CTO at Google</span></h5>
                  </div>
                </div>
              </div>
              <div class="testimonial">
                <div class="col-md-10 col-md-offset-1">
                  <div class="col-md-9">
                    <h2 class="quote">“Because of your skill, work and excellence so many doors have opened to us and we are poised to expand in some really huge ways.”</h2>
                    <h5 class="quote-author">Mike Stalone,<span class="role">CTO at Google</span></h5>
                  </div>
                </div>
              </div>
              <div class="testimonial">
                <div class="col-md-10 col-md-offset-1">
                  <div class="col-md-9">
                    <h2 class="quote">“Because of your skill, work and excellence so many doors have opened to us and we are poised to expand in some really huge ways.”</h2>
                    <h5 class="quote-author">Mike Stalone,<span class="role">CTO at Googl</span></h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="pre-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h1 class="pre-footer-title">Ready to collaborate with us?</h1><a class="btn btn-accent btn-icon btn-icon-right" href="#"><span>Let's Plan Your Project</span><i class="icon arrow_carrot-right"></i></a><img class="planner-img" src="img/Planner_CTA.png" alt=""/>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="col-md-5">
              <div class="footer-menu">
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Studio</a></li>
                  <li><a href="#">Process</a></li>
                  <li><a href="#">Showcase</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">Planner</a></li>
                  <li><a href="#">Careers</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-2 text-center"><img class="footer-logo" src="img/footer_logo.svg" alt=""/></div>
            <div class="col-md-5 text-right">
              <div class="footer-social">
                <ul>
                  <li class="copyright">&copy; 2016 Codemind</li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <nav class="navigation sticky">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-6"><a class="nav-logo animated" href="#">
              <object class="logo-symbol" data="img/logo_symbol.svg" type="image/svg+xml"></object></a></div>
          <div class="col-xs-6 text-right"><a class="menu-toggle animated" href="#"><span></span><span></span><span></span></a></div>
        </div>
      </div>
    </nav>
    <div class="menu-overlay">
      <div class="nav-top nav-lang">
        <ul>
          <li class="active"><a href="#">English</a></li>
          <li><a href="#">Deutsch</a></li>
        </ul>
      </div>
      <div class="nav-center nav-site">
        <ul>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Studio</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Showcase</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Planner</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div>
      <div class="nav-bottom nav-social">
        <ul>
          <li><a href="#"> <i class="fa fa-linkedin"></i><span class="text">LinkedIn</span></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i><span class="text">Facebook</span></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i><span class="text">Instagram</span></a></li>
        </ul>
      </div>
    </div>
    <script src="js/lib.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
